body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 80%;
  background: #fff;
  margin:30px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  font-size: 1.5rem;
  padding: 20px;
}

.button-container {
  background: #e3f4ff;
  padding: 20px;
  margin-top: 25px;
  text-align: center;
  font-size: 1.4rem;
}

.button-container button {
  background: white;
  border: 1px solid #eee;
  display: block;
  font-size: 1.2rem;
  padding: 10px 30px 10px 30px;
  margin-left: auto;
  margin-right: auto;
}